gpiozero==1.2.0
gTTS==1.1.6
gTTS-token==1.1.1
lxkeymap==0.1
mcpi==0.1.1
myql==1.2.7
numpy==1.8.2
oauthlib==1.1.2
picamera==1.12
pifacecommon==4.2.1
pifacedigitalio==3.1.0
pigpio==1.30
Pillow==2.6.1
pyaml==15.8.2
pygame==1.9.2a0
pygobject==3.14.0
pyowm==2.3.2
pyserial==2.6
python-apt==0.9.3.12
PyYAML==3.11
rauth==0.7.2
requests==2.11.0
requests-oauthlib==0.6.2
RPi.GPIO==0.6.2
RTIMULib==7.2.1
sense-hat==2.2.0
six==1.10.0
spidev==3.0
urwid==1.2.1
wicd==1.7.2.4
yahoo-oauth==0.1.9
youtube-dl==2014.8.5
yweather==0.1.1
